.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: scroll;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #111111;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #1f2020;
    border-color: #292828;
    color: rgb(232, 238, 240);
  }
  
  .actions .button--alt {
    color: #edf5f5;
    background: rgb(28, 29, 29);
  }
  
  .actions .button {
    background-color: #1ca9c2;
    color: rgb(87, 163, 199);
  }
