
.music{
    font-style:italic;
    text-align:center;
}
.album{
    font-style:inherit;
    text-align:center;
}
.image{
    margin-right: 0px;
    margin-bottom:5px ;
}
.price{
    margin-right:200px ;
}
.button{
    background-color:rgb(128, 184, 236) ;
    border-color: grey;
    font-weight: bold;
    position: relative;
    top:30px;
    left:120px;
    border-radius: 10px;
    padding-bottom: 10px;
    
}

.body{
    display:inline-block;
    box-shadow: 0 0 5px rgba(75,75,75,75);
    max-width:100% ;
    justify-content: space-around;
    align-Items:flex-start;
    margin-right:150px ;
    margin-left:150px ;
    margin-bottom:150px ;

}
.headline{
    text-align: center;
}
