.container {
    position: absolute;
    right: 2%;
}

.logout {
    font: inherit;
  background-color: transparent;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  padding: 0 1rem;
  margin: 0 0.25rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 1s;
}
.logout:hover{
    color: black;
    background-color: white;
}
.button {
    border: 2px solid rgb(62, 140, 166);
    background-color: transparent;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    padding: 2px 0.75rem;
    background-color:brown !important;
}

.span {
   font-size: 20px; 
   color: brown;
   position: absolute;
   right: -15px;
   top: -10px
}